.rdx-primary-light {
  color: $rdx-primary-light;
}

.rdx-warning-light {
  color: $rdx-warning-light;
}

.rdx-success-light {
  color: $rdx-success-light;
}

.rdx-error-light {
  color: $rdx-error-light;
}

.rdx-info-light {
  color: $rdx-info-light;
}

.rdx-primary-light-bg {
  background-color: $rdx-primary-light;
}

.rdx-warning-light-bg {
  background-color: $rdx-warning-light;
}

.rdx-success-light-bg {
  background-color: $rdx-success-light;
}

.rdx-error-light-bg {
  background-color: $rdx-error-light;
}

.rdx-info-light-bg {
  background-color: $rdx-info-light;
}

.rdx-primary-dark {
  color: $rdx-primary-dark;
}

.rdx-warning-dark {
  color: $rdx-warning-dark;
}

.rdx-success-dark {
  color: $rdx-success-dark;
}

.rdx-error-dark {
  color: $rdx-error-dark;
}

.rdx-info-dark {
  color: $rdx-info-dark;
}

.rdx-primary-dark-bg {
  background-color: $rdx-primary-dark;
}

.rdx-warning-dark-bg {
  background-color: $rdx-warning-dark;
}

.rdx-success-dark-bg {
  background-color: $rdx-success-dark;
}

.rdx-error-dark-bg {
  background-color: $rdx-error-dark;
}

.rdx-info-dark-bg {
  background-color: $rdx-info-dark;
}

.rdx-primary-disabled {
  color: $rdx-primary-disabled;
}

.rdx-warning-disabled {
  color: $rdx-warning-disabled;
}

.rdx-success-disabled {
  color: $rdx-success-disabled;
}

.rdx-error-disabled {
  color: $rdx-error-disabled;
}

.rdx-info-disabled {
  color: $rdx-info-disabled;
}

.rdx-primary {
  color: $rdx-primary;
}

.rdx-warning {
  color: $rdx-warning;
}

.rdx-success {
  color: $rdx-success;
}

.rdx-error {
  color: $rdx-error;
}

.rdx-info {
  color: $rdx-info;
}

.rdx-primary-bg {
  background-color: $rdx-primary;
}

.rdx-warning-bg {
  background-color: $rdx-warning;
}

.rdx-success-bg {
  background-color: $rdx-success;
}

.rdx-error-bg {
  background-color: $rdx-error;
}

.rdx-info-bg {
  background-color: $rdx-info;
}

.rdx-main-color {
  color: $rdx-main-color;
}

.rdx-content-color {
  color: $rdx-content-color;
}

.rdx-tips-color {
  color: $rdx-tips-color;
}

.rdx-light-color {
  color: $rdx-light-color;
}
.rdx-bg-color{
	background-color: $rdx-bg-color;
}