/* start--文本行数限制--start */
.rdx-line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rdx-line-2 {
  -webkit-line-clamp: 2;
}

.rdx-line-3 {
  -webkit-line-clamp: 3;
}

.rdx-line-4 {
  -webkit-line-clamp: 4;
}

.rdx-line-5 {
  -webkit-line-clamp: 5;
}

.rdx-line-2,
.rdx-line-3,
.rdx-line-4,
.rdx-line-5 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; // 弹性伸缩盒
  -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}

/* end--文本行数限制--end */

.rdx-relative,
.rdx-rela {
  position: relative;
}

.rdx-absolute,
.rdx-abso {
  position: absolute;
}

.rdx-font-xs {
  font-size: $rdx-font-xs;
}

.rdx-font-sm {
  font-size: $rdx-font-sm;
}

.rdx-font-md {
  font-size: $rdx-font-md;
}

.rdx-font-lg {
  font-size: $rdx-font-lg;
}

.rdx-font-xl {
  font-size: $rdx-font-xl;
}
.rdx-font-28 {
  font-size: $rdx-font-28;
}

.rdx-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rdx-flex-wrap {
  flex-wrap: wrap;
}

.rdx-flex-nowrap {
  flex-wrap: nowrap;
}

.rdx-col-center {
  align-items: center;
}

.rdx-col-top {
  align-items: flex-start;
}

.rdx-col-bottom {
  align-items: flex-end;
}

.rdx-row-center {
  justify-content: center;
}

.rdx-row-left {
  justify-content: flex-start;
}

.rdx-row-right {
  justify-content: flex-end;
}

.rdx-row-between {
  justify-content: space-between;
}

.rdx-row-around {
  justify-content: space-around;
}

.rdx-text-left {
  text-align: left;
}

.rdx-text-center {
  text-align: center;
}

.rdx-text-right {
  text-align: right;
}

.rdx-pointer {
  cursor: pointer;
}

.rdx-flex-col {
  display: flex;
  flex-direction: column;
}

@for $i from 0 through 12 {
  .rdx-flex-#{$i} {
    flex: $i;
  }
}

@for $i from 9 to 100 {
  .rdx-font-#{$i} {
    font-size: $i + px;
  }
}

@for $i from 2 to 100 {
  .rdx-radius-#{$i} {
    border-radius: $i + px;
  }
}
@for $i from 10 to 100 {
  .rdx-line-height-#{$i} {
    line-height: $i + px;
  }
}

// 定义内外边距，历遍1-80
@for $i from 0 through 80 {
  // 只要双数和能被5除尽的数
  @if $i % 2 == 0 or $i % 5 == 0 {
    // 得出：u-margin-30或者u-m-30
    .rdx-margin-#{$i},
    .rdx-m-#{$i} {
      margin: $i + px !important;
    }

    // 得出：u-padding-30或者u-p-30
    .rdx-padding-#{$i},
    .rdx-p-#{$i} {
      padding: $i + px !important;
    }

    @each $short, $long in l left, t top, r right, b bottom {
      // 缩写版，结果如： u-m-l-30
      // 定义外边距
      .rdx-m-#{$short}-#{$i} {
        margin-#{$long}: $i + px !important;
      }

      // 定义内边距
      .rdx-p-#{$short}-#{$i} {
        padding-#{$long}: $i + px !important;
      }

      // 完整版，结果如：u-margin-left-30
      // 定义外边距
      .rdx-margin-#{$long}-#{$i} {
        margin-#{$long}: $i + px !important;
      }

      // 定义内边距
      .rdx-padding-#{$long}-#{$i} {
        padding-#{$long}: $i + px !important;
      }
	 //自定义左右内边距
	  .rdx-p-lr-#{$i} {
		padding-left:$i + px !important;
		padding-right:$i + px !important;
	  }
		//自定义上下内边距
		 .rdx-p-tb-#{$i} {
				padding-top:$i + px !important;
				padding-bottom:$i + px !important;
		 }
    }
  }
}