$rdx-pink:#FF576C;
$rdx-conten:#F13232;
$rdx-old:#DD001B;

$rdx-light-color: #fff;
$rdx-main-color: #333;
$rdx-content-color: #666;
$rdx-tips-color: #999;
$rdx-border-color: #eee;
$rdx-bg-color: #fff;
$rdx-bg-grey: #f6f6f6;

$rdx-primary: #FF4C62; 
$rdx-primary-light: #ffe7e7;
$rdx-primary-disabled: #a0cfff;
$rdx-primary-dark: #35AEFF;

$rdx-warning: #EB6100;
$rdx-warning-disabled: #fcbd71;
$rdx-warning-dark: #f29100;
$rdx-warning-light: #FFF0E4;

$rdx-success: #069B48;
$rdx-success-disabled: #71d5a1;
$rdx-success-dark: #18b566;
$rdx-success-light: #dbf1e1;

$rdx-error: #fa3534;
$rdx-error-disabled: #fab6b6;
$rdx-error-dark: #dd6161;
$rdx-error-light: #fef0f0;

$rdx-info: #909399;
$rdx-info-disabled: #c8c9cc;
$rdx-info-dark: #82848a;
$rdx-info-light: #f4f4f5;

$rdx-font-xs: 11px;
$rdx-font-sm: 13px;
$rdx-font-md: 14px;
$rdx-font-lg: 16px;
$rdx-font-xl: 18px;
$rdx-font-28: 28px;
$rdx-button: #fa3534; /*专门用于按钮hover*/
